<mat-toolbar>

    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutAlign.gt-xs="space-between center" fxFlex>

        <a href="http://themeforest.net/item/fuse-angularjs-material-design-admin-template/12931855?ref=srcn"
           target="_blank" mat-button class="mat-bg primary" fxFlex="0 0 auto" fxLayout="row"
           fxLayoutAlign="start center">
            <mat-icon class="s-16 mr-sm-4">get_app</mat-icon>
            <span>Aplicación Movil</span>
        </a>

        <div fxLayout="row" fxLayoutAlign="start center" fxHide fxShow.gt-xs>

            <!-- <img class="img-fluid" width="30%" src="./assets/tec.png"/> -->
            <a mat-button href="" target="_blank">Documentación</a>
            <span>&bull;</span>
            <a mat-button target="_blank">Equipo SIT</a>
        </div>

    </div>

</mat-toolbar>
