<mat-toolbar>

    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutAlign.gt-xs="space-between center" fxFlex>

        <a href="http://presentacion.intellimove.com.mx/documentation"
           target="_blank" mat-button class="mat-pink-bg" fxFlex="0 0 auto" fxLayout="row"
           fxLayoutAlign="start center">
            <mat-icon class="s-16 mr-sm-4">code</mat-icon>
            <span>Documentación</span>
        </a>

        <div fxLayout="row" fxLayoutAlign="start center" fxHide fxShow.gt-xs>

            <span>&bull;</span>
            <a mat-button target="_blank">Equipo SIT</a>
        </div>

    </div>

</mat-toolbar>
