a.primary {
  background-color: #EA563F !important;
}

btn.primary {
  background-color: #EA563F !important;
}

a.secondary {
  background-color: #3D91A3 !important;
}

btn.secondary {
  background-color: #3D91A3 !important;
}
